body {
  margin: 0;
  background-color: bisque;
}

$cell-size: 100px;
$player-size: 0.8 * $cell-size;
$base-shift: calc(($cell-size - $player-size) / 2);
$count-row: 5;
$count-column: 3;
$title-size: 24px;

%title_addition {
  background-color: aqua;
}

@function getShift($base, $index, $cell) {
  @return $base + ($index - 1) * $cell;
}

@mixin square($size) {
  height: $size;
  width: $size;
}

@mixin position($shift) {
  top: $shift;
  left: $shift;
}

@mixin circle($size) {
  @include square($size);
}

.title {
  @extend %title_addition;
  font-weight: bold;
  text-align: center;
  font-size: $title-size;
}

.game {
  position: relative;
  border: 1px gray solid;
  width: $count-column * $cell-size;
  &__field {
    display: flex;
    flex-wrap: wrap;
  }

  &__cell {
    box-sizing: border-box;

    @include square($cell-size);
    border: 1px coral solid;
  }

  &__player {
    position: absolute;
    @include position($base-shift);
    @include circle($player-size);
    background-color: black;
    border-radius: 50%;

    @for $index from 1 through $count-row {
      &--row--#{$index} {
        top: getShift($base-shift, $index, $cell-size) + $title-size;
      }
    }

    @for $index from 1 through $count-column {
      &--column--#{$index} {
        left: getShift($base-shift, $index, $cell-size);
      }
    }

    $colors: "red" red, "green" green, "blue" blue;

    @each $name, $color in $colors {
      &--color--#{$name} {
        background-color: #{$color};
      }
    }
  }
}
